<form>
  <div class="row mb-3">
    <div class="col">
      <label for="firstNameInput">First Name</label>
      <input type="text" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp" placeholder="First name">
    </div>
    <div class="col">
      <label for="lastNameInput">Last Name</label>
      <input type="text" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp" placeholder="Last name">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="phoneInput">Phone Number</label>
      <input type="tel" class="form-control" id="phoneInput" aria-describedby="phoneHelp" placeholder="Phone Number">
    </div>
    <div class="col">
      <label for="emailInput">Email Address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Email address">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="monthInFormControlSelect">Check In Month</label>
      <select class="form-control" id="monthInFormControlSelect">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>Sepetember</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    </div>
    <div class="col">
      <label for="dateInFormControlSelect">Check In Day</label>
      <select class="form-control" id="dateInFormControlSelect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="monthOutFormControlSelect">Check Out Month</label>
      <select class="form-control" id="monthOutFormControlSelect">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>Sepetember</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    </div>
    <div class="col">
      <label for="dateOutFormControlSelect">Check Out Day</label>
      <select class="form-control" id="dateOutFormControlSelect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="questionsTextArea">Questions or Requests</label>
    <textarea class="form-control" id="questionsTextArea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn button">Submit</button>
</form>
