<h1>Contact</h1>
<h2>Reservations</h2>
<h3>By Phone:</h3>
<p>555-555-5555</p>
<p>Our Reservations Office is open Monday – Friday from 9:00 a.m. to 5:00 p.m.
     (USA East Coast Time).  If you call off-hours and leave a message, please
     include your day and evening phone numbers, so we may respond to your
     reservation request or inquiry.</p>
<h3>By E-Mail:</h3>
<p>You can email us at reservations@windywaysinn.com, or you can send us a message here:</p>

<h2>Catering</h2>
<h3>By Phone:</h3>
<p>555-555-5555</p>
<p>We offer full-service catering for any event, large or small. We understand
  your needs and we will cater the food to satisfy the biggerst criteria of them
  all, both look and taste.</p>
<h3>By E-mail:</h3>
<p>You can email us at catering@windywaysinn.com, or you can send us a message here:</p>
